{% extends 'base.html' %}
{% block title %} Delete {{ activity.title }} {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="display-4">CONFIRM</h1>
            <p class="lead">Are you sure you want to delete the post?</p>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-success mb-2" value="YES, CONTINUE">
            </form>
            <a href="{% url 'profile_wall' %}" class="btn btn-danger" >NO, GO BACK TO MY PROFILE</a>
        </div>
    </div>
</div>
{% endblock content %}