{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid p-0">
  <div class="hero-container">
    <img src="/static/media/hero_img.webp" alt="a carousel photo with people having fun" class="hero-image">
    <div class="overlay">
      <h1 class="display-4">Fun&Games</h1>
      <p>Life is too short to be boring, so why not embrace your inner weirdness and share your quirkiest activities
        with us?</p>
      <p class="inactive">From the extraordinary to the everyday, we celebrate all things fun and unique. Sign up now
        and be a part of the adventure!</p>
        {% if not user.is_authenticated %}
      <a href="{% url 'account_signup' %}" class="btn btn-primary">Join the fun!</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="container-fluid position-styling ">
  <div class="row">
    {% for activity in activities  %}
    {% if activity.privacy == 'public' %}
    <div class="col-lg-4 col-md-6 col-12 mb-4">
      <div class="card" id="card">
        <img id='card-img' src="{{ activity.featured_image.url }}" class="card-img-top" alt="{{ activity.image_alt }}">
        <div class="overlay-text">
          <span class="card-text text-muted">Posted by {{ activity.author}}|| {{ activity.date_created.date}}</span>
        </div>
        <div class="card-body">
          <h1 class="card-title">{{ activity.title }}</h1>
          <p class="card-text">{{ activity.excerpt }}</p>
          <a href="{% url 'view_activity_details' activity.pk %}" class="btn btn-primary">View post</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}