{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        {% for activity in activities %}
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <div class="card" id="card">
                <img id='card-img' src="{{ activity.featured_image.url }}" class="card-img-top" alt="{{ activity.image_alt }}">
                <div class="overlay-text">
                <span class="card-text text-muted">Posted by {{ activity.author}}|| {{ activity.date_created}}</span>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ activity.title }}</h1>
                    <p class="card-text">{{ activity.excerpt }}</p>
                    <a href="#" class="btn btn-primary">View post</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}