{% extends 'base.html' %}
{% block title %} {{request.user}}'s Profile Wall {% endblock %}
{% load static %}

{% block content %}

<!-- Page message/banner -->
<div class="container-fluid p-0">
  <div id="banner-custom">
    <p><strong>This page is just for you! You can see your public and private posts here</strong></p>
  </div>
</div>
<!-- Message for user if no posts has been added yet -->
{% if activities|length == 0 %}
<div class="col-12 bg-warning">
  <p class="text-center">You haven't added any posts yet.</p>
</div>
{% endif %}
<!-- card container/list view/user's own posts only -->
<div class="container-fluid">
  <div class="row mb-4">
    {% for activity in activities  %}
    <div class="col-lg-4 col-md-6 col-12 mb-4">
      <div class="card mt-4">
        <img src="{{ activity.featured_image.url }}" id='card-img-{{activity.id}}' class="card-img-top"
          alt="{{activity.image_alt}}">
        <span class="card-text text-muted" id="overlay-text-{{activity.id}}">Last updated:
          {{ activity.date_updated.date}} || {{activity.privacy | upper}}</span>
        <div class="card-body">
          <h1 class="card-title">{{ activity.title | truncatechars:30 }}</h1>
          <p class="card-text">{{ activity.excerpt | truncatechars:80 }}</p>
          <a href="{% url 'view_activity_details' activity.pk %}" class="btn btn-outline-dark">View
            post</a>
          {% if activity.date_updated %}
          <span class="font-weight-light">Last updated: {{ activity.date_updated }}<i
              class="fa-solid fa-check"></i></span>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<!-- Pagination/ 3 posts per page -->
{% if is_paginated %}
<nav aria-label="Page navigation" class="justify-content-center pagination">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link custom-pagination" href="?page=1" tabindex="-1">First</a>
    </li>
    <li class="page-item">
      <a class="page-link custom-pagination" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    {% for page in page_obj.paginator.page_range %}
    <li class="page-item{% if page == page_obj.number %} active {% endif %}">
      <a class="page-link custom-pagination" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link custom-pagination" href="?page={{ page_obj.next_page_number}} ">Next</a>
    </li>
    <li class="page-item">
      <a class="page-link custom-pagination" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}


{% endblock %}