{% extends 'base.html' %}
{% block title %} {{ activity.title }} {% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container mt-4 text-center">
    <div class="row">
        {% if request.user == activity.author %}
        <div class="col-md-8 mx-auto">
            {% else %}
            <div class="col-md-6 mx-auto">
                {% endif %}
                <div class="bg-light">
                    <h1>{{activity.title}}</h1>
                </div>
                <div class="bg-light mt-4">
                    <h2>
                        {{ activity.excerpt}}
                    </h2>
                    <div class="row align-items-end">
                        <div class="col-4">
                            Posted by:
                            <br />
                            {{ activity.author }}
                        </div>
                        <div class="col-4" id="hover">
                            <a href="#comments-section" class="comments-section">
                            Commented:
                            <br />
                            {{ activity.comment.count }}
                        </a>
                        </div>
                        <div class="col-2 p-0 text-end">
                            Liked:
                            <br />
                            {% if user.is_authenticated %}
                            <form action="{% url 'like' object.id %}" method="POST">
                                {% csrf_token %}

                                {% if activity_liked %}
                                <button type="submit" name="activity_id" value="{{object.id}}"
                                    style="border: 0 !important;"><i class="fa-solid fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="activity_id" value="{{object.id}}"
                                    style="border: 0 !important;"><i class="fa-regular fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <a href="{% url 'account_login' %}?next={{ request.get_full_path }}"><i
                                    class="fa-regular fa-heart"></i></a><br>
                            {% endif %}
                        </div>
                        <div class="col-2 p-0 text-start">
                            <strong class="text-secondary">{{ total_num_of_likes }}</strong>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <img src="{{ activity.featured_image.url }}" class="img-fluid" alt=" {{activity.image_alt}}">
                </div>
                <div class="bg-light mt-4">
                    <div class="container" id="content-custom">
                    {{ activity.content.html|safe }}
                </div>
                <div class="container">
                {% if activity.link %}
                    <span><a href="{{activity.link}}">{{activity.link}}</a></span>
                    {% endif %}
                </div>
                </div>
                {% if user.is_authenticated %}
                <div class="container" id="comments-section">
                    <form method="POST">
                        {% csrf_token %}
                        {{ add_comment_form | crispy }}
                        <div>
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="bg-transparent mt-4">
                    Login to leave a comment:
                    <a class="btn btn-outline-secondary btn-sm"
                        href="{% url 'account_login' %}?next={{ request.get_full_path }}">SIGN-IN</a>
                </div>
                {% endif %}
                <div class="bg-light mt-4">
                    <h3>Comments:</h3>
                    <hr>
                    <div class="comments">
                        {% for comment in comments %}
                        <div class="comment">
                            <span>{{ comment.comment_author.username }} || </span>
                            <span>{{ comment.created_date }}</span>
                            <p>{{ comment.comment_content }}</p>
                            <hr>
                            </hr>
                        </div>
                        {% empty %}
                        <p>No comments yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if request.user == activity.author %}
            <div class="d-grid gap-2 col-4 mx-auto">
                <div>
                    <a href="{% url 'edit_activity' activity_id=activity.id %}"><button
                            class="btn btn-success btn-custom" type="button">Edit</button></a>
                    <a href="{% url 'activity_confirm_delete' activity_id=activity.id %}"><button
                            class="btn btn-danger btn-custom" type="button">Delete</button></a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


    {% endblock content %}