header {
  margin-bottom: 0;
}

#user-name {
  width: 10%;
}
/* profile wall page */

#banner-custom {
  border: inset;
  border-color: rgb(255, 255, 255);
  background-color:rgb(125, 212, 255, 0.2);
}
/* following code for sticky footer taken from https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }

  /* styling */
  footer a {
    font-size: 250%;
    color: black;
    padding: 15px;
    

  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
  }
  /* list view styling */

  #card-img{
    border-radius: 25px;
  }

   #card {
     position: relative;
     border-radius: 20px;
   }
    
   .overlay-text {
    position: absolute;
    top: 50%;
    background-color:white;
    color: white;

   }

   .btn-custom {
    height: 40px;
    width: 50%;
    margin: 5%;
   }

   /* profile_wall and index styling hero image */
   .hero-container {
    width: 100%;
    overflow: hidden;
   }
   .hero-image {
    width: 100%;
    height: auto;
    animation: zoom-in 2s;
    overflow: hidden;
    

   }
   .overlay {
    background-color: rgba(245, 237, 237, 0.5);
    border-style: outset;
    border-color: rgba(245, 237, 237, 0.7);
    padding: 20px;
    text-align: center;
    height:fit-content;
   }


   @keyframes zoom-in {
    from {
      transform: scale(1.5);
    }
    to {
      transform: scale(1.0);
    }
   }
/* div holding list view */
   .position-styling {
    background-color: white;
   }

#custom-pagination {
  color: black;
}

#custom-pagination:active {
  background-color: gray;
}
   /* for small to medium screen sizes from 500px wide and down */
@media screen and (max-width: 500px) {
  .overlay-text {
    top: 40%;
  }
}
   /* for medium to large screen sizes from 900px wide and down */
   @media screen and (min-width: 727px) {
    #overlay {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(245, 237, 237, 0.5);
        border-style: outset;
        border-color: rgba(245, 237, 237, 0.7);
        text-align: center;
        height:fit-content;
        width:auto;
        margin: 20px;
    }

     #overlay > p {
      padding: 10px;
     }
     
    }
  
   /* comments section link */
   .comments-section {
    text-decoration: none;
    color: black;
   }

   .comments-section:hover {
    color:blue;
   }

   #hover:hover {
    background-color: aqua;

   }

   /* view activity details page styling */
   #content-custom {

  