/* following code for sticky footer taken from https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }

  /* styling */
  footer a {
    font-size: 250%;
    color: black;
    padding: 15px;
    

  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
  }

