{% load static %}
<footer class="bg-light">
    <ul>
        <li>
            <a href="https://github.com/AsiaWi" target="_blank" title="Opens in new tab"
                aria-label="Go to my Github!">
                <i class="fa-brands fa-github"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/joanna-witek-51017b263" target="_blank"
                title="Opens in new tab" aria-label="Go to my Linkedin!">
                <i class="fa-brands fa-linkedin-in"></i></a>
        </li>
    </ul>
</footer>