{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Fun&Games</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'activities' %}">ACTIVITIES</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="True">
                PROFILE
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'profile_wall' %}">WALL</a></li>
                <li><a class="dropdown-item" href="{% url 'add_activity' %}">ADD POST</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">LOG-OUT</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">SIGN-UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">SIGN-IN</a>
            </li>
            {% endif %}

          </ul>
        </div>
        {% if user.is_authenticated %}
        <p class="p-0 mb-1">Hi {{request.user.username}}!</p>
        {% endif %}
      </div>
    </nav>
    <!-- alert messages for user -->
  <div class="container-fluid">
    <div class="row">
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="alert" >
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</header>